:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #fff;
  --dairy: #fcfcfc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  margin: 0 auto;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-style: normal;
}
li {
  list-style: none;
}
button, input, textarea {
  font-family: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-inline-size: 100%;
  max-block-size: 100%;
}
.section {
  padding: 96px 0;
}
.container {
  margin: 0 auto;
}
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}
/* logo */
header {
  padding: 24px 16px;
  border-bottom: 1px solid var(--cornflower);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 16px 16px;
  }
}
@media screen and (min-width: 1158px) {
  .header {
    padding: 24px 0;
  }
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1158px) {
  .container-header {
    justify-content: center;
    max-width: 1158px;
    padding: 0;
  }
}
.header-logo-wrap {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web {
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}
.web:active {
  color: var(--ocean);
}
.studio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--navyblue);
}
.white-studio {
  color: var(--cloud);
}
/* top line */
nav {
  display: flex;
  gap: 76px;
}
@media screen and (min-width: 768px) {
  .nav {
    gap: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .nav {
    gap: 76px;
  }
}
.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: inline-flex;
    align-items: flex-end;
    gap: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;  
  }
}
.nav-list-item-link {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--navyblue);
  font-size: 16px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item-link::after {
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav-list-item-link::after {
    bottom: -28px;
  }
}
@media screen and (min-width: 1158px) {
  .nav-list-item-link::after {
    bottom: -28px;
  }
}
.nav-list-item-link:hover::after,
.nav-list-item-link.active::after {
  width: 100%;
}
.nav-list-item-link.active {
  color: var(--ocean);
}
.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--iris);
}
.nav-list-item-link:active{
  color: var(--ocean);
}
.address {
  display: block;
}
@media screen and (min-width: 320px) {
  .address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .address {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .address {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 332px;
    gap: 40px;
    text-wrap: nowrap;
  }
}
.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 116.667%;
    letter-spacing: 0.48px;
  }
}
@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
  }
}
.address :hover,
.address :focus {
  color: var(--iris);
}
.address :active {
  color: var(--ocean);
}
/* mobile menu */
.mobile-menu-icon {
  display: block;
  border: none;
  width: 32px;
  height: 22px;
  color: var(--navyblue);
  background-color: var(--white);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
}
.icon-menu-mobile {
  width: 32px;
  height: 22px;
  stroke: currentColor;
}
.menu-container {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 24px 24px 40px 40px;
  background: var(--white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .menu-container {
    display: none;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 32px;
}
.mobile-nav-item-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  color: var(--navyblue);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-item-link.active {
  color: var(--ocean);
}
.mobile-nav-item-link:hover,
.mobile-nav-item-link:focus {
  color: var(--iris);
}
.mobile-nav-item-link:active{
  color: var(--ocean);
}
.mobile-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-bottom: 48px;
}
.mobile-address-phone{
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  color: var(--iris);
  text-wrap: wrap;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-phone:hover,
.mobile-address-phone:focus {
  color: var(--iris);
}
.mobile-address-phone:active{
  color: var(--ocean);
}
.mobile-address-email {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--slate);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-email:hover,
.mobile-address-email:focus {
  color: var(--iris);
}
.mobile-address-email:active{
  color: var(--ocean);
}
.mobile-icon-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--cloud);
}
/* hero image */
.section-hero {
  padding: 112px 0;
  background: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1158px) {
  .section-hero {
    padding: 188px 0;
  }
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .container-hero {
    gap: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .container-hero {
    gap: 48px;
  }
}
.hero-title {
  text-align: center;
  font-size: 36px;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  color: var(--white);
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    text-transform: none;
  }
}
.button-order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  color: var(--white);
  white-space: nowrap;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: unset;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--ocean);
}
.button-order:active {
  background-color: var(--ocean);
}
/* index section 1 advantages */
.section-advantages {
  padding: 96px 16px;
}
@media screen and (min-width: 1158px) {
  .section-advantages {
    padding: 120px 0;
  }
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .features-list {
    justify-content: center;
  }
}
.section-features-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .section-features-list-item {
    flex-direction: row;
    flex-wrap: wrap;
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .section-features-list-item {
    width: 264px;
  }
}
.section-feature-list-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  color: var(--navyblue);
}
@media screen and (min-width: 1158px) {
  .section-feature-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
  }
}
.section-feature-list-detail {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate);
}
@media screen and (min-width: 1158px) {
  .section-feature-list-detail {
    font-weight: 400;
  }
}
.icon-features {
  width: 264px;
  height: 112px;
}
@media screen and (min-width: 320px) {
  .icon-features {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-features {
    display: none;
  }
}@media screen and (min-width: 1158px) {
  .icon-features {
    display: block;
  }
}
/* index section 2 services */
.section-services {
  padding-top: 0;
}
@media screen and (min-width: 320px) {
  .section-services {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-services {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .section-services {
    display: block;
    padding-bottom: 120px;
  }
}
.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.section-services-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-service-list-img {
  width: 360px;
  height: 300px;
  border: 1px solid var(--cornflower);
}

/* index section 3 team */
.section-team {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}
.container-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.section-team {
  background: var(--cloud);
}
.section-team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .section-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
.section-team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-team-item-img {
  width: 264px;
  height: 260px;
}
.section-team-item-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  padding: 32px 0;
}
.section-team-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.section-team-item-role {
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.icon-team-container {
  display: flex;
  justify-content: space-evenly;
  row-gap: 24px;
}
.icon-team-item-link {
  color: var(--iris);
}
.icon-team {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-item-link:hover,
.icon-team-item-link:focus {
  cursor: pointer;
  color: var(--ocean);
}
.icon-team-item-link:active {
  color: var(--ocean);
}
/* index section 4 clients */
.container-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .section-clients {
    padding: 96px; 
  }
}
@media screen and (min-width: 1158px) {
  .section-clients {
    padding: 120px 0;
  }
}
.icon-clients-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .icon-clients-container {
    column-gap: 24px;
  }
}
.icon-clients-item {
  border-radius: 4px;
  border: 1px solid var(--light-slate);
}
.icon-clients-item-link {
  color: var(--light-slate);
}
.icon-clients {
  display: block;
  width: 168px;
  height: 88px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients-item:hover,
.icon-clients-item:focus  {
  border-color: var(--ocean);
}
.icon-clients-item:active {
  border-color: var(--ocean);
}
.icon-clients-item-link:hover,
.icon-clients-item-link:focus{
  cursor: pointer;
  color: var(--ocean);
}
.icon-clients-item-link:active {
  color: var(--ocean);
}
/* footer */
.footer {
  background: var(--navyblue);
  padding: 96px 15px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 120px 0;
  }
}
.container-footer {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    flex-direction: row;
    justify-content: center;
    max-width: 1158px;
    padding: 0;
    column-gap: 0;
  }
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17.5px;
  padding-top: 1.5px;
}
@media screen and (min-width: 768px) {
  .footer-logo-container {
    justify-content: center;
    align-items: normal;
  }
}
.footer-logo-wrap {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--cloud);
}
/* footer social media */
.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 72px 0;
}
@media screen and (min-width: 768px) {
  .footer-social-media {
    align-items: flex-start;
    padding: 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer-social-media {
    margin-left: 120px;
  }
}
.social-media-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.icon-footer-container {
  display: flex;
  gap: 16px;
}
.icon-footer-item-link {
  color: var(--iris);
}
.icon-footer {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-item-link:hover,
.icon-footer-item-link:focus {
  cursor: pointer;
  color: var(--green);
}
.icon-footer-item-link:active {
  color: var(--green);
}
/* footer subscribe */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    align-items: normal;
    padding-right: 42px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-subscribe {
    padding: 0;
    margin-left: 80px;
  }
}
.subscribe-text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--white);
}
.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .subscription-form {
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .subscription-form {
    flex-direction: row;
  }
}
.footer-form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  background-color: var(--navyblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
.footer-form-input::placeholder {
  position: absolute;
  display: block;
  top: auto;
  left: 16px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.48px;
  color: var(--white);
}
.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
  border-color: var(--iris);
}
.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  gap: 16px;
  margin: 0 auto;
  width: 165px;
  font-size: 16px;
  font-weight: 500;
  text-align: center; 
  line-height: 150%;
  letter-spacing: 0.64px;
  color: var(--white);
  border: unset;
  border-radius: 4px;
  background: var(--iris);
  cursor: pointer;
}
.subscribe-icon {
  width: 24px;
  height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--ocean);
}
.button-subscribe:active {
  background-color: var(--ocean);
}
/* portfolio button-filter  */
.section-button-filter {
  padding: 0;
}
.container-button-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 16px;
  column-gap: 24px;
  padding: 48px 16px;
}
@media screen and (min-width: 768px) {
  .container-button-filter {
    justify-content: center;
    padding: 64px 0;
  }
}
@media screen and (min-width: 1158px) {
  .container-button-filter {
    padding: 100px 0 72px;
  }
}
.section-button-filters {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-button-filters:hover,
.section-button-filters:focus {
  cursor: pointer;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--ocean);
  background: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
  0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.section-button-filters:active {
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--ocean);
  background: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* portfolio project */
.section-projects {
  padding: 0 16px 48px;
}
@media screen and (min-width: 768px) {
  .section-projects {
    padding: 0 16px 96px;
  }
}
@media screen and (min-width: 1158px) {
  .section-projects {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 0 120px;
  }
}
.section-projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .section-projects-list {
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section-projects-list {
    justify-content: center;
    row-gap: 48px;
  }
}
.section-project-image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .section-project-image {
  width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .section-project-image {
  width: 360px;
  }
}
.section-project-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
.section-card-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.section-card-text {
  line-height: 150%;
  letter-spacing: 0.32px;
}
.section-project-card {
  position: relative;
  background: var(--white);
  border: 1px solid var(--cloud);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .section-project-card {
    border: none;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
@media screen and (min-width: 1158px) {
  .section-project-card {
    border: 1px solid var(--cornflower);
  }
}
.section-project-card:hover,
.section-project-card:focus {
  cursor: pointer;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-project-card:active {
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-card-box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.project-card-overlay p {
  margin: 0;
  color: var(--cloud);
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 40px 32px 164px 32px;
}
.project-card-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--iris);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-box:hover .project-card-overlay {
  transform: translatey(0);
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
  0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
  }
}
.modal-close, .menu-toggle{
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  padding-top: 1px;
  padding-left: 1px;
  color: var(--navyblue);
  background-color: var(--cornflower);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgb(142, 143, 153, .5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon, .mobile-close-icon {
  width: 9px;
  height: 9px;
  stroke: currentColor;
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--cloud);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  padding: 24px 0 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--navyblue);
}
.modal-form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-label {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 116.667%;
  letter-spacing: 0.48px;
  color: var(--light-slate);
}
.form-container {
  position: relative;
  color: var(--navyblue);
}
.form-input{
  width: 100%;
  height: 40px;
  padding: 11px 0 11px 38px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  cursor: pointer;
  fill: currentColor;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form-textarea::placeholder {
  top: 8px;
  left: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 116.667%;
  letter-spacing: 0.48px;
  color: var(--navy-blue-modal);
}
.form-agreement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0 24px;
  font-size: 12px;
  line-height: 116.667%;
  letter-spacing: 0.48px;
  gap: 8px;
  color: var(--light-slate);
}
.form-terms {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  color: var(--iris);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-terms:hover,
.form-terms:focus {
  color: var(--ocean);
}
.button-send {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.64px;
  white-space: nowrap;
  color: var(--white);
  border: unset;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  outline: none;
  border-color: var(--iris);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon,
.form-icon:hover {
  fill: var(--iris);
}
.form-checkbox {
  display: none;
}
.modal-checkbox-icon {
  width: 16px;
  height: 16px;
  fill: none;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid var(--navy-blue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .modal-checkbox-icon {
  background-color: var(--ocean);
  border-color: var(--ocean);
}
.button-send:hover,
.button-send:focus {
  background-color: var(--ocean);
}
.button-send:active {
  background-color: var(--ocean);
}